/*Estilo general para las tarjetas de producto */
.card {
    display: flex;/*Usa Flexbox para la disposición de los elementos dentro de la tarjeta */
    flex-direction: column;/*Organiza los elementos de la tarjeta en una columna */
    height: 500px;/*Establece una altura fija para las tarjetas */
    border: 1px solid #ddd;/*Agrega un borde de color gris claro */
}

/*Estilo para la imagen en la parte superior de la tarjeta */
.card-img-top {
    height: 250px;/*Define una altura fija para la imagen */
    object-fit: contain;/*Ajusta la imagen para que se vea completa sin recortar */
    width: 100%;/*Asegura que la imagen cubra el ancho del contenedor */
}

/*Estilo para el cuerpo de la tarjeta */
.card-body {
    flex-grow: 1;/*Permite que el cuerpo de la tarjeta ocupe el espacio restante */
    display: flex;/*Usa Flexbox para la disposición de los elementos dentro del cuerpo */
    flex-direction: column;/*Organiza los elementos en una columna */
    justify-content: flex-end;/*Alinea el contenido al final del contenedor */
}

/*Estilos responsivos para pantallas con un ancho máximo de 992px */
@media (max-width: 992px) {
    .card {
        height: 450px;/*Ajusta la altura de la tarjeta para pantallas más pequeñas */
    }

    .card-img-top {
        height: 220px;/*Ajusta la altura de la imagen */
    }
}

/*Estilos responsivos para pantallas con un ancho máximo de 768px */
@media (max-width: 768px) {
    .card {
        height: 400px;/*Ajusta la altura de la tarjeta */
    }

    .card-img-top {
        height: 200px;/*Ajusta la altura de la imagen */
    }
}

/*Estilos responsivos para pantallas con un ancho máximo de 576px */
@media (max-width: 576px) {
    .card {
        height: 350px;/*Ajusta la altura de la tarjeta */
    }

    .card-img-top {
        height: 180px;/*Ajusta la altura de la imagen */
    }
}

/*Estilo para el título de la tarjeta */
.card-title {
    display: -webkit-box;/*Usa un contenedor de tipo caja flexible con soporte para WebKit */
    -webkit-line-clamp: 2;/*Limita el texto a 2 líneas */
    -webkit-box-orient: vertical;/*Orienta el contenido de la caja de forma vertical */
    overflow: hidden;/*Oculta el contenido que excede el área visible */
    text-overflow: ellipsis;/*Muestra puntos suspensivos (...) al final del texto truncado */
    line-height: 1.5em;/*Ajusta el espacio entre líneas del texto */
    max-height: 3em;/*Limita la altura máxima para garantizar que solo 2 líneas sean visibles */
}
